
#toolbar {
    display: none;
    position: absolute;
    background: #D9D9D9;
    padding: 4px;
    border-radius: 5px;
    align-items: center;
}
.toolbar-container {
    display: flex;
    position: relative;
    background-color: #D9D9D9;
    padding: 0.3rem;
    border: 1px solid black;
}

.box-marca-cores {
    display: none;
    position: absolute;
    width: 40%;
    height: 50%;
    /* background: #D9D9D9; */
    top: -100%;
    left: 0%;
    
    transform: translate(0, 50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

.cores-destaque {
   
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #D9D9D9;
    /*background: rebeccapurple;
    */border: 1px solid black;
    gap: 0.1rem;
    padding: 0.2rem;
    border-radius:0.4rem;
    -webkit-border-radius:0.4rem;
    -moz-border-radius:0.4rem;
    -ms-border-radius:0.4rem;
    -o-border-radius:0.4rem;
    
}

.cores-destaque span{
    margin:0 0.3rem;
    cursor: pointer;
}


#toolbar::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    transform: translateX(-10%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #D9D9D9;
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
}

.toolbar-container::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 9%;
    transform: translateX(-10%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(0, 0, 0);
    z-index: 9;
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
}

#toolbar button {
    /* margin: 0 5px; */
    /* padding: 5px 10px; */
    cursor: pointer;
    /* background-color: red; */
}

.toolbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background: none;
    border: none;
    font-weight: 700;
}

.toolbar-button svg {
    --w:15px;
    width: var(--w);
    height: var(--w);
    stroke: #FF8A00;
}

.corTexto {
    padding: 0.5rem 0.5rem;
    border-radius: 100%;
}


.editar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: auto;
    background: #FF8A00;
    padding: 1rem;
    margin: 1rem;
}

.editarParagrafo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: auto;
    background: #0015ff;
    padding: 1rem;
    margin: 1rem;
    color: white;
}
